
//container-root
$canvas_height: 100% !default;
$canvas_width: 100% !default; 
$position: absolute !default;
$color_canvas: #FFFFFF !default;

$canvas_table_height: 85% !default;
$canvas_table_width: 85% !default;
$color_canvas_table: #1E1E1E !default;

$canvas_standar_height: 20%;
