<table class="table table-striped">
    <thead>
        <tr>
            <th>Matricula</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Nombres</th>
            <th>Materia</th>
            <th>Aula</th>
            <th>Examen por TD</th>
            <th>Examen por Reto</th>
            <th>Puntuación mensual</th>
            <th>Puntuación anual</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>
