<div class = "w-full h-[80%] border-t-4 border-r-4 p-[15px]"
               style = "position: relative;">
               <table class = "table table-hover">
                  <thead>
                     <tr>
                        <th class = "col">{{ titleGraduets }}</th>
                        <th class = "col">{{ statusGraduets }}</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>

                     </tr>
                  </tbody>
               </table>
         </div>
