<div class = "w-full h-[80%] border-t-4 border-r-4 p-[15px]"
               style = "position: relative;">
               <table class = "table table-hover">
                  <thead>
                     <tr>
                        <th class = "col">{{ titleGraduets }}</th>
                        <th class = "col">{{ statusGraduets }}</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor = "let student of graduetStudent">
                         <td>{{ student.LastName }}</td>
                         <td>{{ student.mLastName }}</td>
                         <td>{{ student.Names }}</td>
                         <td>{{ student.OldSchool }}</td>
                     </tr>
                  </tbody>
               </table>
         </div>
