<main class = "w-full h-full p-[20px]" style="background-color: #F0F0F0;">
   <div class = "container-navigate w-[1200px] h-4/5 shadow bg-body rounded" 
         style = "position: absolute;
                  display: inline-flex; 
                  background-color: #FFFFFF;
                  bottom: 20px;
                  right: 35px">

      <div class = "w-[50%] h-full "  
            style = "position: relative;
                     display: inline-block;
                     ">
         <div class = "w-full h-[20%]" 
               style = "position: relative;
                        display: inline-flex;">
               <div class = "h-full w-[70%]">
                  <h1 class = "" 
                        style = "font: normal 2.8rem/3.8rem Google Sans,Arial,sans-serif;
                                 font-style: normal;
                                 font-family: 'Google Sans', Arial, sans-serif;
                                 font-style: normal;
                                 font-variant-ligatures: normal;
                                 font-variant-caps: normal;
                                 font-variant-numeric: normal;
                                 font-variant-east-asian: normal;
                                 font-weight: normal;
                                 font-stretch: normal;
                                 font-size: 2.4rem;
                                 line-height: 3.8rem;
                                 padding-left: 5%;
                                 padding-top: 5%;
                                 ">Alumnos</h1>
               </div>
                        
                                 <div class = "h-full w-[30%] border-l-4" style = "position:relative;
                                                                        background-color:#F4B148;"></div>
         </div>
         <div class = "w-full h-[80%] border-t-4 border-r-4 p-[15px]"
               style = "position: relative;">
               <table class = "table table-hover">
                  <thead>
                     <tr>
                        <th class = "col">Nombre</th>
                        <th class = "col">Status</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>

                     </tr>
                  </tbody>
               </table>
         </div>
      </div>
      <div class = "w-[50%] h-full" 
            style = "position: relative;
         ">  

      </div>
   </div>

   <app-navigate></app-navigate>
</main>
