
    <nav class="navbar navbar-light rounded-pill shadow p-3 mb-5 bg-body rounded">

  <div class = "container-fluid">
      
        <ul class = "navbar-nav mr-auto">
          <li class = "nav-item">
            <a class = "btn btn-outline-light rounded-circle border-0">
              <img src="../../assets/ellipsish.svg" alt="" width = "15" height = "12" class = "d-inline-block">
            </a>
          </li>
        </ul>
        
        <a class = "navbar-brand position-absolute" style = "left: 18%;">SUPPORT</a>
        
  </div>
</nav>

<ul class="nav flex-column w-9 position-absolute" 
      style="background-color:antiquewhite; 
            left: 3.5%;
            bottom: 68%">
  <li class = "nav-item">
      <a href="">
        <div class = "h-[2rem] w-[2rem] relative block" style="background-color: #8C8CC4;">
            <div class="h-1/2 w-full p-[9px]">
                <img src="../../assets/graduation-cap.svg" alt="" width="15" height="12">
            </div>
        </div>
      </a>
  </li>
  <li class = "nav-item">
    <a href="">
      <div class = "h-[2rem] w-[2rem] relative block" style="background-color: #8C8CC4;">
          <div class="h-1/2 w-full p-[9px]">
              <img src="../../assets/book-open.svg" alt="" width="15" height="12">
          </div>
      </div>
    </a>
</li>
<li class = "nav-item">
  <a href="">
    <div class = "h-[2rem] w-[2rem] relative block" style="background-color: #8C8CC4;">
        <div class="h-1/2 w-full p-[9px]">
            <img src="../../assets/bell-school.svg" alt="" width="15" height="12">
        </div>
    </div>
  </a>
</li>
</ul>

<ul class = "nav flex-columnw-9 position-absolute" 
      style="background-color:antiquewhite; 
      left: 3.5%;
      bottom: 3%;" >
       <li class = "nav-item">
        <a href="">
          <div class = "h-[2rem] w-[2rem] relative block" style="background-color: #8C8CC4;">
              <div class="h-1/2 w-full p-[9px]">
                  <img src="../../assets/info_black_24dp.svg" alt="" width="15" height="12">
              </div>
          </div>
        </a>
    </li>
</ul>