
    <nav class="navbar navbar-light rounded-pill shadow p-3 mb-5 bg-body rounded" 
          style="background-color: #8C8CC4;">

  <div class = "container-fluid">
      
        <ul class = "navbar-nav mr-auto">
          <li class = "nav-item">
            <a class = "btn btn-outline-light rounded-circle border-0">
              <img src="../../assets/ellipsish.svg" alt="" width = "15" height = "12" class = "d-inline-block">
            </a>
          </li>
        </ul>
        
        <a class = "navbar-brand position-absolute" style = "left: 18%;">SUPPORT</a>
        
  </div>
</nav>

<ul class="nav flex-column w-9 position-absolute" style="background-color:antiquewhite; left: 3.5%;">
  <li class = "nav-item">
      <a href="">
        <div class = "h-[2rem] w-[2rem] relative block" style="background-color: #8C8CC4;">
            <div class="h-1/2 w-full p-[9px]">
                <img src="../../assets/home.svg" alt="" width="15" height="12">
            </div>
        </div>
      </a>
  </li>
  <li class = "nav-item">
    <a href="">
      <div class = "h-[2rem] w-[2rem] relative block" style="background-color: #8C8CC4;">
          <div class="h-1/2 w-full p-[9px]">
              <img src="../../assets/book-reader.svg" alt="" width="15" height="12">
          </div>
      </div>
    </a>
</li>
<li class = "nav-item">
  <a href="">
    <div class = "h-[2rem] w-[2rem] relative block" style="background-color: #8C8CC4;">
        <div class="h-1/2 w-full p-[9px]">
            <img src="../../assets/bell-school.svg" alt="" width="15" height="12">
        </div>
    </div>
  </a>
</li>
</ul>